$break-small: 768px;
.slide-background{
  margin: auto;
  position: relative;
  &__infostatic{
    position: absolute;
    top: calc((100vh - 60px) - 66vh);
    z-index: 2;
    max-width: 41.666667%;
    padding-right: 15px;
    @media screen and (max-width: $break-small){
      top: calc((100vh - 60px) - 80vh);
      max-width: 100%;
      padding-right: 0px;
    }
    h2{
      color: #fff;
      margin-bottom: 38px;
      font-size: 26px;
      @media screen and (max-width: $break-small){
        text-align: center;
        line-height: 36px;
    }
    }
    p{
      color: #fff;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 14px;
      @media screen and (max-width: $break-small){
        text-align: center;
    }
    }
    img{
      margin-top: 30px;
      margin-right: 80px;
      float: right;
      border-left: 1000px solid #ffffff;
      @media screen and (max-width: $break-small){
        margin-right: 5px;
        float: left;
        border: 0;
        max-width: 100%;
        margin-left: -70px !important;
      }
    }
    &-content{
      float: right;
      width: 460px;
      @media screen and (max-width: $break-small){
        width: 90%;
        margin: auto;
        float: none;
      }
    }
  }
  .slick-slider{
    max-width: 100%;
    margin-top: 0px;
    .slick-list{
      padding: 0 !important;
      .slick-track{

        .slick-slide{

        }
      }
    }
  .bg-slide1{
    background-image: url('../../assets/images/bg-slide1.jpg');
  }
  .bg-slide2{
    background-image: url('../../assets/images/angel-celis.jpg');
  }

  .slide-background__content{
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: $break-small){
      height: calc(100vh - 30px);
    }
    &-container{
      max-width: 1300px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
      @media screen and (max-width: $break-small){
        justify-content: center;
      }
      .content-box{
        max-width: 422px;
        width: 100%;
        background-color: #fff;
        display: flex;
        margin: 0 25px 85px 0;
        flex-wrap: wrap;
        position: relative;
        padding: 10px 0 10px 40px;
        cursor: pointer;
        @media screen and (max-width: $break-small){
            margin: 0px 0 70px 10px;
            max-width: 100%;
            width: 75vw;
            padding: 10px 0 10px 22px;
          }
        figure{
          position: absolute;
          background: black;
          width: 60px;
          height: 115px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding-bottom: 20px;
          left: -35px;
          top: 20px;
          @media screen and (max-width: $break-small){
            width: 35px;
            height: 85px;
            left: -25px;
            }
          img {
            width: 30px;
            @media screen and (max-width: $break-small){
                width: 15px;
            }
          }
        }
        h5{
          width: 100%;
          font-weight: bold;
          font-size: 20px;
          line-height: 34px;
          padding-left: 60px;
          margin-bottom: 2px;
          @media screen and (max-width: $break-small){

          }
        }
        div{
          width: 100%;
          span{
            float: left;
            margin-right: 10px;
            @media screen and (max-width: $break-small){
              padding-bottom: 20px;
              margin-top: -15px;
            }
          }
          p{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 194px;
    right: calc(50% - 614px);
    @media screen and (max-width: $break-small){
      right: auto;
      left: 50%;
      bottom: 0;
      transform: translate(-50%);
    }
  }
  .slick-active button {
    background: #000000 !important;
    width: 15px !important;
    height: 15px !important;
    border: 5px solid #00FF29 !important;
  }

}
}

.testimonial img {
  width: 50px;
}
p.name_bussi {
  font-weight: 600;
  color: #969696;
  letter-spacing: 1px;
  font-size: 16px;
  @media screen and (max-width: $break-small){
    font-size: 18px;
    padding-bottom: 4px;
  }
}
p.name_bussi_dev {
  font-family: 'ObjektivMk1W03-Regular';
  font-size: 12px;
  margin-top: -7px !important;
  @media screen and (max-width: $break-small){

  }
}
