.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(219, 219, 219, 0.25);
  height: 80px;
  z-index: 9;
    &__navigation{
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 1rem;
      &:before{
        content: "";
        background: #000;
        width: 270px;
        position: absolute;
        height: 6px;
        bottom: -3px;
        left: 0;
        border-right: 8px solid #00FF29;
      }
      @media (max-width: 768px) {
          justify-content: space-between;
      }
    }
    &__logo {
      margin-left: 0px;
      width: 125px;
      height: 44px;
      @media (min-width: 769px) {
          margin-left: 70px;
      }
      img{
        width: 100%;
      }
    }
    .spacer {
      flex: 1;
    }
    .toolbar_navigation-items{
       flex: 1;
       padding-left: 8%;
       ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        }
        li {
         padding: 0 15px;
         &:last-child{
           margin-left: 25px;
         }
       }
       a {
         color: #000;
         text-decoration: none;
         font-family: 'ObjektivMk1W03-Regular';
         font-size: 14px;
         line-height: 19px;
         &:hover{
           color: #c4c4c4;
         }
       }
    }
    &_buttons{
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      @media (max-width: 768px) {
          display: none;
      }
      :nth-child(1){
        color: #000000;
        border: 1px solid #000000;
        box-sizing: border-box;
        margin-right: 12px;
        position: relative;
        z-index: 0;
        transition: all .3s;
        &:before{
          content: '';
          height: 100%;
          width: 100%;
          background: #000;
          position: absolute;
          top: 0;
          right: 0;
          transition: all .3s;
          z-index: -1;
          transform: scale(0, 0);
        }
        &:after{
          content: '';
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background: #F5F5F5;
          z-index: -2;

        }
        &:hover{
          color: #00FF29;
          &:before{
            transform: scale(1, 1);
          }
        }
      }
      :nth-child(2){
        color: #00FF29;
        background-image: url('../../assets/images/enter.svg');
        background-repeat: no-repeat;
        background-position: 15px center;
        border: 1px solid #000000;
        box-sizing: border-box;
        padding-left: 45px;
        position: relative;
        &:before{
          content: '';
          height: 100%;
          width: 100%;
          background: #f5f5f5;
          position: absolute;
          top: 0;
          right: 0;
          transition: all .3s;
          z-index: -1;
          transform: scale(0, 0);
        }
        &:after{
          content: '';
          height: 100%;
          width: 100%;
          background-color: #000000;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -2;

        }
        &:hover{
          color: #000000;
          &:before{
            transform: scale(1, 1);
          }
        }

      }
      a{
        padding: 10px 17px;
      }
    }
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}
