@font-face {
  font-family: 'ObjektivMk1W03-Medium';
  src: url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.woff') format('woff'), url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.ttf')  format('truetype'), url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.svg#ObjektivMk1W03-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ObjektivMk1W03-Regular';
  src: url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.woff') format('woff'), url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.ttf')  format('truetype'), url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.svg#ObjektivMk1W03-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ObjektivMk1W03-Thin';
  src: url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.woff') format('woff'), url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.ttf')  format('truetype'), url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.svg#ObjektivMk1W03-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'ObjektivMk1W03-Regular' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #F1F1F1 0%, #FFFFFF 50.27%, #F1F1F1 100%);
}
p{
  font-family: 'ObjektivMk1W03-Thin';
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.container{
  max-width: 1300px !important;
  margin: 0 auto;
}
h2{
  font-family: 'ObjektivMk1W03-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 47px;
}
h3{
  font-family: 'ObjektivMk1W03-Medium';
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}
a{
  &:hover{
    text-decoration: none !important;
  }
}
