@font-face {
  font-family: 'ObjektivMk1W03-Medium';
  src: url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.woff') format('woff'), url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.ttf')  format('truetype'), url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.svg#ObjektivMk1W03-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ObjektivMk1W03-Regular';
  src: url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.woff') format('woff'), url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.ttf')  format('truetype'), url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.svg#ObjektivMk1W03-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ObjektivMk1W03-Thin';
  src: url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.woff') format('woff'), url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.ttf')  format('truetype'), url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.svg#ObjektivMk1W03-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'ObjektivMk1W03-Medium' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5E5E5 !important;
}
