@import "~video-react/styles/scss/video-react";
@font-face {
  font-family: 'ObjektivMk1W03-Medium';
  src: url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.woff') format('woff'), url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.ttf')  format('truetype'), url('./assets/fonts/ObjektivMk1W03-Medium/ObjektivMk1W03-Medium.svg#ObjektivMk1W03-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ObjektivMk1W03-Regular';
  src: url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.woff') format('woff'), url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.ttf')  format('truetype'), url('./assets/fonts/ObjektivMk1W03-Regular/ObjektivMk1W03-Regular.svg#ObjektivMk1W03-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ObjektivMk1W03-Thin';
  src: url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.woff') format('woff'), url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.ttf')  format('truetype'), url('./assets/fonts/ObjektivMk1W03-Thin/ObjektivMk1W03-Thin.svg#ObjektivMk1W03-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'ObjektivMk1W03-Regular' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #F1F1F1 0%, #FFFFFF 50.27%, #F1F1F1 100%);
}
p{
  font-family: 'ObjektivMk1W03-Thin';
  font-size: 17px;
  line-height: 29px;
  color: #000000;
}
.container{
  max-width: 1300px !important;
  margin: 0 auto;
}
h2{
  font-family: 'ObjektivMk1W03-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 47px;
}
h3{
  font-family: 'ObjektivMk1W03-Medium';
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}
h4{
  font-family: 'ObjektivMk1W03-Medium';
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}
a{
  &:hover{
    text-decoration: none !important;
  }
}
.section-done-poetri {
    background: #FFFFFF;
    box-shadow: 0px 5px 20px #DBDBDB;
    border-radius: 5px;
    padding: 55px 65px !important;
    text-align: center;
    margin: 0 auto 110px !important;
    h2{
      width: 100%;
      margin-bottom: 28px;
      font-size: 26px;
      margin-top: -10px;
    }
    &__gif{
      background: #C4C4C4;
      width: 453px;
      height: 247px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    p{
      font-family: 'ObjektivMk1W03-Thin';
      font-size: 16px;
      line-height: 29px;
      margin-bottom: -15px;
      margin-top: 10px;
    }
    p.p-st {
      margin-top: 40px !important;
    }
}
.section-done-poetri-img{ 
img {
  width: 100%;
  max-width: 110px;
}
p {
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-top: 20px !important;
}
.img-g {
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
.modal{
  background: rgb(0,0,0);
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) -50%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) -50%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) -50%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  .modal-dialog{
    max-width: 70vw;
  }
  .modal-content{
    .close-modal{
      background-color: black;
      background-image: url('./assets/images/cancel.svg');
      background-repeat: no-repeat;
      background-position: center 75%;
      color: #00ff29;
      border: 1px solid #00ff29;
      width: 71px;
      height: 181px;
      position: fixed;
      top: -20px;
      right: 120px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 14px;
      padding-bottom: 10px;
      cursor: pointer;
    }
    .modal-body{
      padding: 0;
    }
  }
}
.video-react{
   .video-react-big-play-button{
     background-color: #000 !important;
     border-color: #00FF29 !important;
     color: #00FF29;
   }
   .video-react-control-bar{
     background-color: #000 !important;
     color: #00FF29 !important;
   }
   .video-react-play-progress {
     background-color: #00FF29;
    }
}
