$break-small: 768px;
.section-discover-poetri{
  margin-top: 55px;
  margin-bottom: 180px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: $break-small){
    margin-top: -6px;
  }
  &:before{
    content: "";
    background: url('../../assets/images/bg-discover-1.svg') no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    animation: rotate;
    -webkit-animation-name: rotate;
    -webkit-animation-duration:50s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-name: rotate;
    -moz-animation-duration:50s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    opacity: 0.3;
  }

  h2{
    text-align: center;
    margin-bottom: 35px;
    margin-top: 40px;
  }
  .p-mas{
    @media screen and (max-width: $break-small)
      {
        text-align: center;
      }
  }
  h3{
    position: relative;
    padding-left: 30px;
    @media screen and (max-width: $break-small){
      padding-top: 15px;
      padding-left: 0px;
    }
    span{
      position: absolute;
      width: 33px;
      height: 65px;
      top: 0;
      left: -20px;
      background: #000;
      z-index: 2;
      border-right: 6px solid #00ff29;
      @media screen and (max-width: $break-small){
        display: none;
      }
    }
  }
  .row-table--margin{
    margin-top: 50px;
    position: relative;
    z-index: 4;
    @media screen and (max-width: $break-small){
      margin-top: 5px;
      text-align: center;
    }
  }

  .benefits-table{
    width: 72%;
    display: flex;
    /* background: linear-gradient(169.17deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 117.36%); */
    opacity: 0.98;
    padding: 30px;
    flex-wrap: wrap;
    @media screen and (max-width: $break-small){
      width: 100%;
    }
    &__cell{
      width: 100%;
      display: flex;
      @media screen and (max-width: $break-small){
        flex-wrap: wrap;
      }
      .square{
        background: #FBFBFB;
        border: 1px solid #D7D7D7;
        box-sizing: border-box;
        width: 220px;
        max-width: 220px;
        min-height: 113px;
        margin: 0 20px 20px 0;
        padding: 0 16px 0 16px;
        display: flex;
        align-items: center;
        font-family: 'ObjektivMk1W03-Regular';
        font-size: 13px;
        line-height: 20px;
        color: #000000;
        position: relative;
        transition: all 0.5s ease;
        @media screen and (max-width: $break-small){
          width: 100%;
          max-width: 100%;
          margin: 0 0 20px 0;
          line-height: 6.4vw;
          font-size: 3.8vw;
          text-align: left;
        }
        &:hover{
          transform: scale(1.12);
          transition: all 0.5s ease;
          background: #fff !important;
          box-shadow: 0px 2px 30px #0000002e;
          z-index: 9 !important;
          border: 1px solid #828282 !important;
          &:before{
            background: #8f8f8f;
          }
        }
        &:before{
          content: "";
          width: 3px;
          height: 50px;
          background: #c4c4c4;
          position: absolute;
          top: -1px;
          left: -3px;
        }
        &:last-child{
          margin-right: 0px !important;
        }
      }
    }
  }
  .before--rotate{
    position: relative;
    overflow: hidden;
    &:before{
      content: "";
      background: url('../../assets/images/bg-discover-2.svg') no-repeat center center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      animation: rotate;
      -webkit-animation-name: rotate;
      -webkit-animation-duration:150s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:linear;
      -moz-animation-name: rotate;
      -moz-animation-duration:150s;
      -moz-animation-iteration-count:infinite;
      -moz-animation-timing-function:linear;
      opacity: 0.4;
    }
    &:after{
      content: "";
      background: url('../../assets/images/bg-discover-3.svg') no-repeat center center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      animation: rotate;
      -webkit-animation-name: rotate;
      -webkit-animation-duration:30s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:linear;
      -moz-animation-name: rotate;
      -moz-animation-duration:30s;
      -moz-animation-iteration-count:infinite;
      -moz-animation-timing-function:linear;
      z-index: 3;
      opacity: 0.5;
    }
  }
  @keyframes rotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  @-webkit-keyframes rotate {
    from {-webkit-transform:rotate(0deg);}
    to {  -webkit-transform:rotate(360deg);}
  }

  @-moz-keyframes rotate {
    from {-moz-transform:rotate(0deg);}
    to {  -moz-transform:rotate(360deg);}
  }
}