$break-small: 768px;
#banner{
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  transition: all 0.5s;
  padding-top: 100px;
  .banner-home__title{
    h1{
      font-family: 'ObjektivMk1W03-Medium';
      font-weight: 500;
      font-size: 53px;
      line-height: 73px;
      color: #fff;
      margin-bottom: 0px;
      span{
        color: #000;
        background: #fff;
      }
    }
    .last{
      font-size: 64px;
    }
    p{
      font-family: 'ObjektivMk1W03-Medium';
      font-weight: 500;
      font-size: 43px;
      line-height: 59px;
      color: #fff;
      text-align: right;
      margin-top: -10px;
    }
  }
  .banner-home__descrip{
    margin-top: 80px;
    p{
      color: #fff;
      font-size: 20px;
      line-height: 27px;
      font-family: 'ObjektivMk1W03-Regular';
      margin-bottom: 45px;
    }
  }
  .banner-home__buttons{
    .react-tabs{
       &__tab-list{
         border: none;
       }
        &__tab{
          font-family: 'ObjektivMk1W03-Regular';
          font-size: 16px;
          line-height: 22px;
          color: #fff;
          text-decoration: none;
          padding: 0 0px 20px 0;
          text-align: center;
          margin: 0 40px 0 0;
          display: inline-flex;
          justify-content: center;
          width: 30%;
          position: relative;
          cursor: pointer;
          &--selected{
            background: none;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 2px solid #fff;
          }
        }
        &__tab-panel{
          a.button-open-modal, a{
            width: 203px;
            height: 41px;
            background: #fff;
            border: 1px solid #000;
            border-radius: 20px;
            display: block;
            text-align: center;
            font-size: 16px;
            line-height: 41px;
            margin: 50px 0;
            cursor: pointer;
            padding: 0;
          }
          &--selected{
            &:before{
              content: "";
              width: 580px;
              height: 1px;
              background: #fff;
              position: absolute;
              left: -100%;
              top: 115px;
            }
          }
        }
    }
  }
}
.banner-home{
  background-image: url('../../assets/images/bg-slide-soy-empresa.jpg');
}
.banner-home2{
  background-image: url('../../assets/images/bg-slide-soy-desarrollador.jpg');
  .banner-home__title{
    span{
      opacity: .3;
    }
  }
}
